.coursesRowsPerPageSelectBox {
  line-height: 1.5rem;
}
.coursesDatePickerWrapper {
  width: 100%;
}
.coursesDatePickerWrapper > .rmdp-container {
  width: 100%;
}

/* Editor JS */
.ce-block__content {
  max-width: 800px;
}

.codex-editor__redactor {
  padding-bottom: 20px !important;
}

.headline-item-container {
  padding-left: 20px !important;
}

.headline-fields-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.headline-lesson-container:not(:first-child) {
  margin-top: 60px !important;
}

.headline-lesson-container:not(.headline-lesson-container:last-of-type) {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 40px;
}

@media (min-width: 1000px) {
  .save-editor-js-data {
    margin-left: 120px !important;
  }
}

.tableTitle {
  margin-top: 10px;
}

.delete-course-btn {
  gap: 5px;
}

.delete-course-btn span {
  margin-top: 2px;
}

.mt-one {
  margin-top: 5px;
}

.course-column-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 118px;
}

.course-column-badge {
  margin-left: 20px !important;
}

.course-column-status {
  margin-left: 19px;
}

.course-column-is-delete {
  margin-left: 10px;
}

.course-column-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.student-course-reserve-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.course-reserve-student-name {
  display: block;
  font-weight: bold;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.course-reserve-filters {
  height: 50px;
}

.course-reserve-rows-per-page-input {
  margin-bottom: 8px;
  margin-left: 10px !important;
}

body.dark-layout
  .headline-lesson-container:not(.headline-lesson-container:last-of-type) {
  border-color: #1111115d;
}
