.coursesRowsPerPageSelectBox {
  line-height: 1.5rem;
}
.coursesDatePickerWrapper {
  width: 100%;
}
.coursesDatePickerWrapper > .rmdp-container {
  width: 100%;
}

/* Editor JS */
.ce-block__content {
  max-width: 800px;
}

.codex-editor__redactor {
  padding-bottom: 20px !important;
}

.headline-item-container {
  padding-left: 20px !important;
}

.headline-fields-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.headline-lesson-container:not(:first-child) {
  margin-top: 60px !important;
}

.headline-lesson-container:not(.headline-lesson-container:last-of-type) {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 40px;
}

.tableTitle {
  margin-top: 10px;
}

.delete-course-btn {
  gap: 5px;
}

.delete-course-btn span {
  margin-top: 2px;
}

.mt-one {
  margin-top: 5px;
}

.course-column-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 118px;
}

.course-column-badge {
  margin-left: 20px !important;
}

.course-column-status {
  margin-left: 19px;
}

.course-column-is-delete {
  margin-left: 10px;
  cursor: pointer;
}

.course-column-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.student-course-reserve-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.course-reserve-student-name {
  display: block;
  font-weight: bold;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.course-reserve-rows-per-page-input {
  margin-bottom: 8px;
  margin-left: 10px !important;
}

.course-tabs-wrapper {
  display: flex;
  justify-content: flex-end;
}

.course-tabs {
  width: 95%;
}

.course-details-active-inactive-button {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-top: 20px;
}

body.dark-layout
  .headline-lesson-container:not(.headline-lesson-container:last-of-type) {
  border-color: #1111115d;
}

.course-reply-comment-text {
  gap: 3px;
}

.accept-comment,
.reject-comment {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 1rem;
  cursor: pointer;
  width: 85px;
}

.accept-comment-text,
.reject-comment-text {
  color: #28c76f;
  margin-top: 1px;
}

.reject-comment-text {
  color: #ea5455;
}

.accept-comment-icon {
  stroke: #28c76f !important;
}

.reject-comment-icon,
.delete-course-comment {
  stroke: #ea5455 !important;
}

.course-preview-image {
  width: 150px !important;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 1000px) {
  .course-reserve-filters {
    flex-direction: column !important;
  }
  .course-reserve-filters-search {
    justify-content: start !important;
    margin: 10px 0;
  }
}

@media (min-width: 1000px) {
  .course-reserve-filters {
    height: 50px;
  }
  .save-editor-js-data {
    margin-left: 120px !important;
  }

  .course-info-card {
    width: 110%;
  }
}
